<!--

    <button ng-click="showme=!showme">Show Calendar</button>

    <table ng-show="showme">
      <tr>
        <td>
          <div
          uib-datepicker
          ng-model='portal.activeDate'
          multi-select='portal.selectedDates'
          select-range='{{portal.type=="range"}}'
          datepicker-options='portal.options'
          ng-disabled="portal.selectedDates.length >= 3"


          ></div>
        </td>
        <td style='width:50px'>
        </td>
        <td>
          <div ng-if='portal.type=="individual"'>
            Selected Dates:
            <div class='well well-sm'>

                      <div ng-repeat='d in portal.selectedDates | orderBy'>
                {{d | date : 'fullDate'}}

                <button class='btn btn-xs btn-warning' style='margin:5px' ng-click='portal.removeFromSelected(d)'>Remove</button>
              </div>
              <p ng-if="portal.selectedDates.length >= 3"> Thank you for choosing three dates.</p>
            </div>
          </div>

        </td>
      </tr>

    </table> -->
<form name = "authform" class = "form-horizontal" data-ng-submit = "save(scquote)" >
<!-- <p ng-repeat="sample in portal.servicerequests">{{sample.user_id}}</p> -->
    <p><label for="x" class="col-lg-2 control-label"> Quote</label>
      <input type="text" placeholder = "price" name = "{{sample.user_id}}"   data-ng-model="scquote.quote_cost"></p>

      <button type="submit">{{buttonText}}</button>


    </form>


<ng-transclude></ng-transclude>
