/* GLOBAL STYLES */
@import 'font-awesome.css';


html {
  font-family: Tahoma;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

i {font-family: Tahoma;}



.btn {width:auto;}
button:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}
.hideme {display:none;}
.centerSignup {background-color:#ff6600;color:#fff;padding:2px;border-radius:10px;}
.centerSignup:hover {background-color:#000;color:#fff;}
.centerSignup a {color:#fff;}
.WRfooter {
    padding: 4rem 0;
    margin-top: 4rem;
    font-size: 85%;
    text-align: center;
    background-color: #bbb;
}
.WRfooterLinks {
    display: inline;
    padding-left: 0;
    margin-bottom: 1rem;
    list-style-type: none;
}

/* STEP 1 STYLES */
hr.vehicleHR {
	border-top: 1px solid #000;
	text-align: center;
}
hr.vehicleHR:after {
	content: 'OR';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #333;
	color: #fff;
	font-size: 18px;
  border-radius: 8px;
  border:solid 1px #000
}

/* STEP 2 STYLES */
.getStarted {padding:20px;}
.getStarted img {filter:invert(100%);}
.tablink, {color:#000!important;text-decoration:none;padding:5px;font-size:22pt;width:60%;}
.probRed {color:#fff!important;background-color:#ff6600!important;text-decoration:none;border-right:solid 8px #ff6600!important;}
.probContainer {padding:0;margin:0;border:solid 2px #FF6600;height:590px;padding:0;}
.probHeader {background:#eee;width:100%;padding:8px 0px 8px 15px;}
.probSidenav {z-index:1;margin-bottom:20px;align:right;}
.probSidenav a {padding:4px 0px 4px 0px;height:120px;text-decoration:none;color:#fff;margin-bottom:15px;background-color:#777;border-right:solid 8px #fff;}
.probSidenav a:hover {background-color:#888;text-decoration:none;}
.probSidenav a {display:block}
.probSidenav span {font-size:45pt;}
.probSidenav .w3-dropdown-hover:hover,.probSidenav .w3-dropdown-hover:first-child,.probSidenav .w3-dropdown-click:hover,.w3-dropnav a:hover{background-color:#ccc;color:#000}
.propNavItem {width:80px;}
.warningClicked, img.warning:hover {filter: none;-webkit-filter: grayscale(0%);-moz-filter: grayscale(0%);-ms-filter: grayscale(0%);-o-filter: grayscale(0%);cursor: hand;}
img.warning {filter: none;-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);cursor: hand;transition: all 100ms ease;}
.warnDescribe {width:95%;}
.dropt img {width:20%; height:auto;}
span.dropt span {position: absolute; left: -9999px; top: 450px; margin:0; padding: 5px; border:solid 1px #F26C1E;}
span.dropt:hover {text-decoration: none; background: #fff; z-index: 6;}
span.dropt:hover span {margin: 20px 0 0 10px; left: 10px; background: #fff; z-index: 6;}

@media only screen and (max-width: 991px) {
  .probSidenav {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
  .probSidenav {z-index:1;margin-bottom:0px;align:right;height:80px;}
  .probSidenav a{padding:0px 0px 2px 0px;height:80px;text-decoration:none;color:#fff;margin-bottom:0px;background-color:#777;border-bottom:solid 3px #fff;border-right:0px;}
  .probRed {color:#fff!important;background-color:#ff6600!important;text-decoration:none;border-bottom:solid 3px #ff6600!important;border-right:0px!important;}
  .probSidenav span {font-size:20pt;}
  .propNavItem {width:40px!important;margin-top:8px;}
  .probContainer {padding:0;margin:0;border:0px;height:auto;padding:0;}
  .dropt img {width:20%; height:auto;}
  .navbar-brand img {width:90%;height:auto;}
}

@media only screen and (max-width: 768px) {
  .navbar-collapse li a { background:#ff6600;color:#fff;}
  .navbar-collapse li a:hover { background:#D95700;color:#fff;}
  H2 {font-size:130%;}
}
.probBanner {background-image:URL('../images/HomepageCar.png');background-position:center;}

.carContain {border:solid 1px #000;margin-left:0;}
.carHeader {background-color:#000;color:#fff;padding:10px;font-size:110%;}
.carData {padding:15px;font-size:120%;}

/*/////*/

.chk-hidden {
border: 0;
/*clip: rect(0 0 0 0);*/
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;

}

label {
margin: 5px;
padding: 5px 10px;
background-color: #ddd;
color: #000;
font-size: 1em;
border-radius:8px;
white-space: normal;
word-wrap: break-word;

}


/*////*/

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;

}

label[for*='1']:before { content: '\f253'; }
label[for*='2']:before { content: '\f005'; }
label[for*='3']:before { content: '\f01c'; }
label[for*='4']:before { content: '\f1b9'; }
/*/////*/
input:focus + label {
background-color: #ddd;
color: #000;
}

input:checked + label {
background-color: #ff6600;
color: #fff;
}

input:focus:checked + label {
background-color: #ff6600;
color: #fff;
}

#oilchange {
    margin:4px;
    float:left;
}

#oilchange label {
    /*float:left;*/
    margin:5px;
    border-radius:5px;
    padding:0px 0px;
    width: auto;
    overflow:auto;
}

#oilchange label span {
    text-align:center;
    padding:13px 10px;
    display:block;
}

#oilchange label input {
    position:absolute;
    top:-20px;
}

#oilchange input:checked + span {
    background-color:#ff6600;
    color:#fff;
}

#oilchange .defaultbutton {
    background-color:#ddd;
    color:#000;
}


#ud_container{
  /*border: 2px red solid;*/
}

#bid_container{
  overflow:auto;
  height: 375px;
}

#mouseover_list{
  border: 2px green solid;
}

.bid_container_long{
  color: red;
  height: 375px;
}


.formtop {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.formmid {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.formbot {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.center {
	text-align: center;
}




.radiobutton {
    margin:4px;
    float:left;
}

.radiobutton label {
    /*float:left;*/
    margin:5px;
    border-radius:5px;
    padding:0px 0px;
    width: auto;
    overflow:auto;


}
.radiobutton label span {
    text-align:center;
    padding:13px 10px;
    display:block;
}



.radiobutton label input {
    position:absolute;
    top:-20px;
}

.radiobutton input:checked + span {
    background-color:#ff6600;
    color:#fff;
}


.radiobutton .datetimeradio{
    background-color:#ddd;
    color:#000;
}


/*.buttonTimes {background-color:#ff6600;color:#fff; border: 1px #000 solid}

.buttonTimes:hover {background-color:#000;color:#fff; border: 1px #ff6600 solid;}*/

.buttonTimes {
  background-color:#fff;
  color:#ff6600;
  border: 1px #000 solid
}

.buttonTimes:hover {background-color:#ff6600; color:#fff; border: 1px #ff6600 solid;}

/*////new 3/14*/
ol { counter-reset: level1 }
ol li.mapListNumber:before {background:#ff6600 ;font-size:16pt;border:solid 3px #ff6600 ;color:white;text-align:center;border-radius:100%;padding:0px 5px 0px 5px;height:35px;width:35px; content: counter(level1) " ";counter-increment: level1;}
ol { counter-reset: level1 }

/*////*/
/*
div.inline {float:left;}
.mapListNumber {background:#ff6600;font-size:16pt;border:solid 3px #ff6600;}
.mapListBidPrice {color:#ff6600;font-size:16pt;float:right;}
.mapListCompany {font-size:13pt;font-weight:bold;}
.mapListAppt {font-size:9pt;}
.supersmall {color:black;font-size:10pt;}
.boldHead div {font-weight:bold;}
div .text-center {width:50px;}
div .text-center button {width:45px;margin-bottom:5px;}
.apptTime button {width:65px;margin-bottom:5px;margin-right:4px;float:left;}*/


/*////// later/*/
.mapListBidPrice {color:#ff6600;font-size:16pt;float:right;}
.mapListCompany {font-size:13pt;font-weight:bold;}
.mapListAppt {font-size:9pt;}


/*///*/



#menuTab .nav-tabs{
color:  #FF6600;
border-bottom: none;
}
#menuTab .nav-tabs > li.active > a, .nav-tabs > li.active {

}
#menuTab .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width:0;
}

#menuTab .nav-tabs > li > a {
  border: none;
  border-radius: 0;
  color: #FF6600;


}

#menuTab .nav-tabs > li > a {
  border: none;
  border-radius: 0;
  color: #FF6600;


}

#menuTab .nav-tabs > li > a:hover {
       border-radius: 0;
       background: #FF6600;
       color: white;
}
  #menuTab .nav-tabs > li > a, .nav-tabs > li > a{
    color:  #FF6600;
  }

    #menuTab .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
      background: #FF6600; color: white;
    }

    #menuTab  .nav-tabs > li > a::after {
      content:""; background:#aaa; height:2px; position:absolute; width:100%; left:0px; transition:all 250ms ease 0s; transform:scale(0);
    }
#menuTab .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform:scale(0);}


 #menuTab .tab-nav > li > a::after {background:#000 none repeat scroll 0% 0%; color:purple;}

 #menuTab .tab-pane{
   position: relative;
   width: 95%;
   margin-left: 0;
 }


.dropButton{
  float: right;
}


.iconpad {width:20px;}
.iconpadLG {margin-right:10px;}

.theDrop {
display: inline-block;
width: 100vw;
height: 100vh;

margin-right: -50%;
margin-top: -84.09px;

box-shadow: none;
border: 0px solid white;
/*background: rgba(255, 255, 255, .50);*/

}

.miniDir{
  max-width: 100%;
  margin-left: 0;

}

/*.mobileDropDownContent{
  margin: 0 auto;

  color: blue;
}*/
.dropdown-menu{
  /*background: yellow;*/
}

.moNav{
  display: inline;
  color:#ff6600;
}


.signInForm{
  /*color:red;*/
  width: 90vw;
  margin: 0 auto;
}
.moDrop{
  margin-top: 15%;
}

.moDrop li{
  list-style: none;
text-align: center;
background: #FF6600;
margin-top: 6px;
margin-bottom: 6px;
}

.moDrop a {
  font-size: .95em;
color: #3acec2;

}

.moDrop a{
  padding: 10px 15px;
  display: block;
}



/*user dash tabs*/

#user_dash{

}

#user_dash .tab-pane{
  /*font-style: italic;*/
  border: 1px dotted black;
  /*padding-left: 5%;
  padding-right:5%;*/
}




@media (min-width: 768px){

  .signInForm{
    width: 40vw;
    margin-left: 0;
    position: relative;
  }

  .theDrop {
  /*display: inline-block;*/
  width: 600px;
  height: 350px;
  max-width: 70vw;
  overflow-y: auto;
  margin-top: 0;
  margin-right: 0;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background: white;
  /*border: 0px solid white;*/

  }



  .theDrop {
  width: 600px;
  height: 350px;
  max-width: 70vw;
  }

  #menuTab .nav-tabs{
  float: right;
  max-width: 20%;
  }


  .miniDir{
    width: 80%;
    margin-left: 0;
    float:left;
  }

  .form-signin{
    max-width: 330px;
  }

}
