
main{
  height: 100%;
}
.angular-google-map-container {
   position:absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   height: 500px;
}
#map_canvas {
     width: 100%;
     margin: 0px;
     position: relative;
     height: 500px;
 }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.vehicleselectbox {
  padding: 10px;
}

#logo {
  width: 30%;
}

#signupnavbutton {
  float: right;
  padding-right: 30px;
  font-size: 12pt;
}

#homepageimagerow {
  background-color: #969695;
}

#vehicleselectimage {
  float: right;
  padding-right: 4em;
  padding-top: 1em;
}

.temporaryDiv{
  float: right;
  height: 500px;
  width: 150px;
  border: 1px solid red;
}

.tempInsideDiv{
  border: 2px solid blue;
}


/*.subcategory{
  border: 1px solid grey;
}*/


.modal {
    display: block;
}
.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}
.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}
/*new date well*/
.date_holder{
  border: 1px solid black;
  height: 290px;
  width: 130px;
}

/*new times exp*/

.timeHolder{
  height: 100px;
  width: auto;
  overflow: auto;
  border: 1px solid blue;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top:10px;
}


/*new userDashboard style 2/3/17*/

.nav-tabs {border:0;}
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {border-width:0; background:#ff6600 !important;}
    .nav-tabs > li > a {border: none; color: #fff; background:#aaa;}
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover {border: none; color: #fff !important; background:#ff6600;}
        .nav-tabs > li > a::after {content:""; background:#aaa; height:2px; position:absolute; width:100%; left:0px; transition:all 250ms ease 0s; transform:scale(0);}
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform:scale(0); }
.tab-nav > li > a::after {background:#000 none repeat scroll 0% 0%; color:#fff;}
.tab-pane {padding:2px 0;}
.tab-content{padding:8px; overflow: scroll; height:200px;}

.userRow {background-color:#ddd; line-height:auto;}
.userText {vertical-align:middle;}

.apptRow {height:auto; background-color:#ff6600;}
.apptHead {padding:2px 4px; background-color:#222; color:#fff;}
.apptText {padding:2px 4px; color:#fff;}
 
