<div id="map_canvas">
      <p>MAPS DATA</p>



    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">


      <!-- <ui-gmap-search-box options="searchbox.options" template="searchbox.template"
                        events="searchbox.events" position="searchbox.position"></ui-gmap-search-box> -->

        <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" click="onClick">
            <ui-gmap-windows show="show">

                <div ng-non-bindable>{{place}}</div>
            </ui-gmap-windows>
        </ui-gmap-markers>
    </ui-gmap-google-map>
</div>
