<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bootstrap.css">
  <link rel="stylesheet" href="bootstrap_wrenchrover.css">
  <link rel="stylesheet" href="style.css">

  <title>Wrench Rover</title>
</head>

<body data-ng-app="wrApp">
  <main>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" title="Wrench Rover" rel="home">
            <img class="img-responsive"
                 id="logo"
                 src="/images/WrenchRover_tagline_large_latest.png">
          </a>
          <ul class="nav navbar-nav navbar-right">


                <!-- <div class="modal-demo" ng-controller="buttonController as $ctrl">
    <button type="button" class="btn btn-default" ng-click="$ctrl.open()" >Open me!</button> -->

    <div class="modal-demo" ng-controller="buttonController as $ctrl">
<a ng-click="$ctrl.open()" >Sign up!</a>
</div>
          </ul>
        </div>
      </div><!-- /.container-fluid -->
    </nav>

    <!-- <div class="container">
      <div class="row" id="homepageimagerow">
        <img class="img-responsive"
             id="vehicleselectimage"
             src="/images/car1.jpeg">
    </div> <!-- row -->
  <!-- </div> <!-- container -->

<!-- ng-change - enable "next" button -->
    <!-- <section data-ng-view></section> -->


    <!-- ///// -->



    <!-- ////// -->
    <section ui-view>

    </section>


  </main>
  <script type="text/javascript" src="/bundle.js"></script>
</body>
