
<!-- <p><sq-form></sq-form></p> -->
<br>
<br>
<br>
<section ng-init = "portal.getAll()"></section>
<!-- data-sr="servicerequests" -->
<uib-accordion>
<div uib-accordion-group class="panel" heading="{{sample.id}}. {{sample.work_request}}" ng-repeat="sample in portal.servicerequests" >

<!-- {{sample.user_id}}, {{sample.id}} -->
<!-- <button ng-click="portal.createQuote(sample.user_id)
">capture user id </button> -->

<form name = "authform" class = "form-horizontal" data-ng-submit = "save(scquote)" >

<!-- <p ng-repeat="sample in portal.servicerequests">{{sample.user_id}}</p> -->
    <p><label for="x" class="col-lg-2 control-label"> Quote</label>
      <input type="text" placeholder = "price" name = "{{sample.user_id}}"   data-ng-model="scquote.quote_cost"></p>


        <p><label for="x" class="col-lg-2 control-label"> Mechanic's Notes</label>
          <input type="text" placeholder = "Notes" name = "Mechanic's Notes"   data-ng-model="scquote.quote_text"></p>

<!-- <sq-form data-action="create" data-button-text="enter things here" ></button></sq-form> -->

<!-- ui begin -->
<table>
  <tr>
    <td>
      <div
      uib-datepicker
      ng-model='scquote.activeDate'
      multi-select='portal.selectedDates'
      select-range='{{portal.type=="range"}}'
      datepicker-options='portal.options'
      ng-disabled="portal.selectedDates.length >= 3"
      ></div>
    </td>
    <td style='width:50px'>
    </td>
    <td>
      <div ng-if='portal.type=="individual"'>
        Selected Dates:
        <div class='well well-sm'>
                  <div ng-repeat='d in portal.selectedDates | orderBy'>
            {{d | date : 'fullDate'}}

            <button class='btn btn-xs btn-warning' style='margin:5px' ng-click='portal.removeFromSelected(d)'>Remove</button>
          </div>
          <p ng-if="portal.selectedDates.length >= 3"> Thank you for choosing three dates.</p>
        <!-- </div> -->
      </div>
    </td>
  </tr>
</table>


<div uib-timepicker ng-model="portal.mytime" show-meridian="portal.ismeridian"></div>

<div uib-timepicker ng-model="portal.mytime2" show-meridian="portal.ismeridian"></div>

<div uib-timepicker ng-model="portal.mytime3" show-meridian="portal.ismeridian"></div>

<!-- <pre class="alert alert-info">Time is: {{portal.mytime | date:'shortTime' }}</pre> -->

<!-- ui time ends -->

<!-- <button ng-click="portal.timeChange(portal.mytime, portal.mytime2, portal.mytime3)">time click</button> -->

      <button type = "submit" ng-click="portal.addDates(portal.selectedDates); portal.createQuote(sample.user_id, scquote, sample.id, portal.mytime, portal.mytime2, portal.mytime3)" btn btn-default> enter it </button>
    </form>



</div>
</uib-accordion>
