



<div class="container">
      <div class="row">
      <!-- Main page content -->
        <div class="col-md-12 col-sm-12">
          <main>

<ul  class="nav nav-pills">
			<li id="tab1" class="active">
        <!-- <a  href="#1a" data-toggle="tab">Overview</a> -->
        <a ui-sref="sc_portal_view.pending_view">New Bids</a>
			</li>
			<li class="tab-pane"><a data-toggle="tab" ui-sref="sc_portal_view.active_view">Appointments</a>
			</li>
			<li class="tab-pane"><a data-toggle="tab" ui-sref="sc_portal_view.past_view">Past Bids</a>
			</li>

		</ul>
    <section id="content1" class = "probContainer" style="overflow:auto;">
                <div class="row">
                  <div class="col-md-12 col-sm-12">
    <ui-view></ui-view>
  </div>
</div>
</section>

</main>
</div>
</div>
