


<!--/////////////////// INCLUDE CODE BELOW INTO USER DASHBOARD VIEW /////////////////////-->
<main class="container" data-ng-controller="UserDashboardController as UserDashCtrl" ng-init="UserDashCtrl.getUserInfo()" id="ud_container">



<!-- <div class="container" style="margin-top:115px;" ng-repeat="sample in UserDashCtrl.service_quotes_table"> -->

<div class="container" style="margin-top:115px;" >
<!--/////////////////// START USER  PROFILE ROW /////////////////////-->
	<div class="row userRow">
		<div class="col-md-6 col-sm-6 userText">
			<div style="float:left;padding:9px 0px;margin-right:15px;"><i class="fa fa-user fa-3x"></i></div>
			<div style="padding:12px 0px;"><b>{{UserDashCtrl.userObject.user_name}}</b><br>Member since {{UserDashCtrl.memberSince}}</div>
		</div>
		<div class="col-md-6 col-sm-6 userText">
			<div style="float:left;padding:9px 0px;margin-right:15px;"><i class="fa fa-car fa-3x"></i></div>
			<div style="padding:12px 0px;"><b>{{UserDashCtrl.userObject.autos[0].year}} {{UserDashCtrl.userObject.autos[0].make}}</b><br> {{UserDashCtrl.userObject.autos[0].model}}</div>
		</div>
	</div>
<!--/////////////////// START WELCOME MESSAGE ROW /////////////////////-->
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<h1>Welcome back, {{UserDashCtrl.userObject.user_name}}!</h1>
			We value you as a customer and strive to deliver a solution that is right for you.<br><br>
		</div>
	</div>
<!--/////////////////// START NOTIFICATION ROW /////////////////////-->
	<div class="row apptRow">
		<div class="col-md-2 col-sm-12 apptHead" style="line-height:80px;height:80px;text-align:center;">
			<h4>You have a new appointment!</h4>
		</div>
		<div class="col-md-4 col-sm-12" style="padding:0;"  >
			<div class="apptHead">Where & When</div>
			<div class="apptText">NAME OF ACCEPTED SC<br>Tuesday, Feb 3 at 1:30pm</div>
		</div>
		<div class="col-md-3 col-sm-12" style="padding:0;">
			<div class="apptHead">Your Vehicle</div>
			<div class="apptText">{{UserDashCtrl.userObject.autos[0].year}}<br>{{UserDashCtrl.userObject.autos[0].make}} {{UserDashCtrl.userObject.autos[0].model}}</div>
		</div>
		<div class="col-md-3 col-sm-12" style="padding:0;">
			<div class="apptHead">Services</div>
			<div class="apptText">            {{UserDashCtrl.userObject.pipedRequests}}


			</div>
		</div>
	</div>
<!--/////////////////// START MAINTENANCE LISTINGS COLUMN /////////////////////-->
	<div class="row">
		<div class="col-md-8 col-sm-12">
			<h3>Your Maintenance</h3>

			<uib-tabset active="active">
		    <uib-tab index="0" heading="Pending">
							<div class="tab-content" style="border:solid 2px #ff6600;">
								<div id="mainPending" class="tab-pane fade in active">

									<div class="row">
										<div class="col-md-12 col-sm-12">
										<b>8/22/16 -

                       {{UserDashCtrl.userObject.pipedRequests}}

										 </b><br>
										Your comments: <i>"I think my rotors are worn because my car pulls the the left when I apply the brakes"</i><br>
										Service Notes: <i>{{sample.quote_text}}</i>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 col-sm-12">
										Service Center: <b>{{sample.service_center.service_name}}</b>
										</div>
										<div class="col-md-6 col-sm-12">
										Bid Amount: <b>{{sample.quote_cost}}</b>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 col-sm-12">
										<span style="color:#ff6600; font-weight:bold;">PENDING</span>
										</div>
									</div>
								</div>
							</div>
</uib-tab>
		     <uib-tab index="1" heading="Your History">
					  		<div class="tab-content" style="border:solid 2px #ff6600;">
				   				<div class="row">
				   						<div class="col-md-12 col-sm-12">
				   						<b>7/15/16 - Tire Rotation</b><br>
				   						Service Notes: <i>"We can also look at wear and tear on your tires"</i>
				   						</div>
				   					</div>
				   					<div class="row">
				   						<div class="col-md-6 col-sm-12">
				   						Service Center: <b>Joe's Auto</b>
				   						</div>
				   						<div class="col-md-6 col-sm-12">
				   						Bid Amount: <b>$27.00</b>
				   						</div>
				   					</div>
				   					<div class="row">
				   						<div class="col-md-12 col-sm-12">
				   						<span style="color:#ff6600; font-weight:bold;">COMPLETE</span>
				   						</div>
				   					</div>
				   			</div>
</uib-tab>


		  </uib-tabset>
    <ui-view></ui-view>






<!--/////////////////// START YOUR LOCATION COLUMN /////////////////////-->
		<div class="col-md-4 col-sm-12">
			<h3>Your Location</h3>
			<!-- <img src="https://mailinglists.com/sites/default/files/GoogleMap2_small.gif" style="width:300px;"> -->
      <div  map-lazy-load="https://maps.googleapis.com/maps/api/js?key={{UserDashCtrl.key}}" id = "map_canvas">
        <ng-map  default-style="true" zoom="11" center="current-location">

        <marker position = "current-location" animation="Animation.BOUNCE"  centered="true"> </marker>
        <marker id='{{p.id}}' position="{{p.pos}}"
         ng-repeat="p in UserDashCtrl.positions"
         on-click="UserDashCtrl.showDetail(p)"
         icon="{{p.map_icon_pics}}"
         title="pos: {{p.pos}}"
         on-mouseover="UserDashCtrl.showDetail(p);"
         on-mouseout="UserDashCtrl.hideDetail()">
        </marker>
        <info-window id="foo-iw">
         <div ng-non-bindable="">
         {{UserDashCtrl.shop.id}}<br/>
         {{UserDashCtrl.shop.pos}}<br/>
         <br/>
         </div>
       </info-window>
     </ng-map>

</div>
		</div>
	</div>
</div>
</main>
