
<section data-ng-controller="UserDashboardController as UserDashCtrl">
    <button class="btn btn-default"
            type="submit"
            ng-click="UserDashCtrl.getUserInfo(); UserDashCtrl.logUser()">
            test get user
    </button>

    <div id="profile">

        <p>Your Profile</p>
        <br>
        <img id ="profilePicture">
        <br>
        <span> {{UserDashCtrl.userObject.userName}} </span>
        <br>
        <span class="title">Member Since: </span>
        <br>
        <span>{{UserDashCtrl.userObject.memberSince}}</span>
        <br>
        <span class="title">Vehicles: </span>
        <br>
        <span data-ng-repeat="auto in UserDashCtrl.userObject.autos">

          <span> {{auto.make}} </span>
          <span> {{auto.model}} </span>
          <br>
          <span class="title"> Trim: </span>
          <span> {{auto.trim}} </span>
          <br>
          <span class="title">Engine: </span>
          <span> {{auto.engine}} </span>
          <br>
        </span>

        <div class="row text-center">
          <div class="modal-demo col-md-12 col-sm-12"
               ng-controller="AddVehicleButtonController as $ctrl"><br>
            <button ng-click= "$ctrl.open()"
                    ng-class="'btn btn-primary'">
                    Add a Vehicle
            </button>
          </div>
        </div>

    </div>
</section>
