
<div class="col-md-6 col-sm-12"
     style="background:URL('../images/transparent.png');border:solid 1px black;height:auto;margin-top:25px;">

<div class="container" style="width:auto;height:auto;">

  <section id="vehicleSelectMenu" data-ng-controller="VehicleInfoController as VehicleInfoController">
    <form>
      <div class="form-group row">
        <div class="col-md-6 col-sm-12">
          <select class="form-control"
                  id="a"
                  data-ng-model="VehicleInfoController.vehicleObject.year"
                  ng-change="VehicleInfoController.newYearSelected(); VehicleInfoController.getVehicleMakes(); VehicleInfoController.showMe('b')"
                  ng-options="year for year in VehicleInfoController.vehicleListOptions.yearsList">
            <option value="">Year</option>
          </select>
        </div>
        <div class="col-md-6 col-sm-12">
          <select class="form-control"
                  id="b"
                  data-ng-model="VehicleInfoController.vehicleObject.make"
                  ng-change="VehicleInfoController.newMakeSelected(); VehicleInfoController.getVehicleModels(); VehicleInfoController.showMe('c')"
                  ng-options="make.name for make in VehicleInfoController.vehicleListOptions.makeList"
                  disabled>
            <option value="">Make</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6 col-sm-12">
          <select class="form-control"
                  id="c"
                  data-ng-model="VehicleInfoController.vehicleObject.model"
                  ng-change="VehicleInfoController.newModelSelected(); VehicleInfoController.getVehicleTrims(); VehicleInfoController.showMe('d')"
                  ng-options="model.name for model in VehicleInfoController.vehicleListOptions.modelList"
                  disabled>
            <option value="">Model</option>
          </select>
        </div>
        <div class="col-md-6 col-sm-12">
          <select class="form-control"
                  id="d"
                  data-ng-model="VehicleInfoController.vehicleObject.trim"
                  ng-change="VehicleInfoController.newTrimSelected(); VehicleInfoController.getVehicleEngines(); VehicleInfoController.showMe('e')"
                  ng-options="trim.name for trim in VehicleInfoController.vehicleListOptions.trimList"
                  disabled>
            <option value="">Trim</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6 col-sm-12">
          <select class="form-control"
                  id="e"
                  data-ng-model="VehicleInfoController.vehicleObject.engine"
                  ng-options="engine for engine in VehicleInfoController.vehicleListOptions.engineList"
                  disabled>
            <option value="">Engine</option>
          </select>
        </div>
        <div class="col-md-6 col-sm-12">
          <input type="number"
                 maxlength="6"
                 min="1"
                 max="999999"
                 class="form-control"
                 id="Vmileage1"
                 placeholder="Mileage"
                 data-ng-model="VehicleInfoController.vehicleObject.mileage">
        </div>
      </div>
      <div class="form-group row text-center">
        <div class="col-md-12 col-sm-12">
          <hr class="vehicleHR">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6 col-sm-12">
          <input type="text"
                 maxlength="17"
                 minlength="17"
                 class="form-control"
                 id="Vvin"
                 placeholder="Vehicle VIN"
                 data-ng-model="VehicleInfoController.vehicleObject.vin">
        </div>
        <div class="col-md-6 col-sm-12">
          <input type="number"
                 maxlength="6"
                 min="1"
                 max="999999"
                 class="form-control"
                 id="Vmileage2"
                 placeholder="Mileage"
                 data-ng-model="VehicleInfoController.vehicleObject.mileage">
        </div>
      </div>
      <!-- need a lookup button -->
      <div class="form-group row text-center">
        <div class="col-md-12 col-sm-12">
          <button class="btn btn-primary"
                  type="submit"
                  ng-click="VehicleInfoController.logVehicle(); VehicleInfoController.getVin()">
                  Lookup Vehicle
          </button>
        </div>
      </div>
      <!-- lookup -->
      <div class="form-group row text-center">
        <div class="col-md-12 col-sm-12">
          <button type="submit"
                  class="btn btn-primary"
                  style="width:100px;"
                  ui-sref="common_repairs_view"
                  ng-click="VehicleInfoController.saveToLocalStorage()">
                  START
          </button>
        </div>
      </div>
    </form>
    </section>
  </div>
</div>




<section data-ng-controller="UserDashboardController as UserDashCtrl">
    <button class="btn btn-default"
            type="submit"
            ng-click="UserDashCtrl.getUserInfo(); UserDashCtrl.logUser()">
            test get user
    </button>

    <div id="profile">

        <p>Your Profile</p>
        <br>
        <img id ="profilePicture">
        <br>
        <span> {{UserDashCtrl.userObject.userName}} </span>
        <br>
        <span class="title">Member Since: </span>
        <br>
        <span>{{UserDashCtrl.userObject.memberSince}}</span>
        <br>
        <span class="title">Vehicles: </span>
        <br>
        <span data-ng-repeat="auto in UserDashCtrl.userObject.autos">

          <span> {{auto.make}} </span>
          <span> {{auto.model}} </span>
          <br>
          <span class="title"> Trim: </span>
          <span> {{auto.trim}} </span>
          <br>
          <span class="title">Engine: </span>
          <span> {{auto.engine}} </span>
          <br>
        </span>

    </div>
</section>
