



<main class="container" data-ng-controller="UserDashboardController as UserDashCtrl" ng-init="UserDashCtrl.getUserInfo()" id="ud_container">


<!-- <div class="container" style="margin-top:115px;" > -->
<div class="containter">
<!--/////////////////// START USER  PROFILE ROW /////////////////////-->

<!--/////////////////// START WELCOME MESSAGE ROW /////////////////////-->
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<h1>Welcome back, {{UserDashCtrl.userObject.user_name}}!</h1>
			We value you as a customer and strive to deliver a solution that is right for you.<br><br>
		</div>
	</div>
<!--/////////////////// START NOTIFICATION ROW /////////////////////-->
	<div class="row apptRow">
		<div class="col-md-2 col-sm-12 apptHead" style="line-height:80px;height:80px;text-align:center;">
			<h4>{{UserDashCtrl.message}}</h4>
		</div>
		<div class="col-md-4 col-sm-12" style="padding:0;"  >
			<div class="apptHead"><span>Where & When</span></div>
			<div class="apptText">{{UserDashCtrl.appointment.service_center}}<br>{{UserDashCtrl.appointment.appointment_date_time}}</div>
		</div>
		<div class="col-md-3 col-sm-12" style="padding:0;">
			<div class="apptHead">Your Vehicle</div>
			<div style="display:inline;" class="apptText"><span  ng-if="UserDashCtrl.userObject.autos.length ==0"> You haven't entered a car.<br><a style="color: white;"  ng-controller="vehicleModalController as $ctrl" ng-click ="$ctrl.open()">Add a vehicle</a></span>{{UserDashCtrl.userObject.autos[0].year}}<br>{{UserDashCtrl.userObject.autos[0].make}} {{UserDashCtrl.userObject.autos[0].model}}</div>
		</div>
		<div class="col-md-3 col-sm-12" style="padding:0;">
			<div class="apptHead">Services</div>
			<div class="apptText">  <span  ng-if="UserDashCtrl.userObject.service_requests.length ==0">  <a style="color: white;" ng-click ="UserDashCtrl.addRequest()">Submit a request</a></span> {{UserDashCtrl.userObject.pipedRequests}}
			</div>
		</div>
	</div>
<!--/////////////////// START MAINTENANCE LISTINGS COLUMN /////////////////////-->
	<div class="row" id="user_dash">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h3 >Your Maintenance</h3>

			<uib-tabset active="active">

				<uib-tab index="0" heading="New({{UserDashCtrl.count}})">
					<div class="row" >
			    	<div class="col-md-8 col-sm-8">
										<span  map-lazy-load="https://maps.googleapis.com/maps/api/js?key={{UserDashCtrl.key}}" id = "map_canvas">
										 		<ng-map  default-style="true" zoom="11" center="current-location">
												<marker position = "current-location" animation="Animation.BOUNCE"  centered="true"> </marker>
												<marker id='{{p.id}}' position="{{p.pos}}"
												 ng-repeat="p in UserDashCtrl.positions"
												 on-click="UserDashCtrl.showDetail(p)"
												 icon="{{p.map_icon_pics}}"
												 title="pos: {{p.pos}}"
												 on-mouseover="UserDashCtrl.showDetail(p);"
												 on-mouseout="UserDashCtrl.hideDetail()">
												</marker>
												<info-window id="foo-iw">
												 <div ng-non-bindable="">
												 {{UserDashCtrl.shop.id}}<br/>
												 {{UserDashCtrl.shop.pos}}<br/>
												 <br/>
												 </div>
											 </info-window>
										 </ng-map>
									 </span>
				</div>

				<div class="col-md-4 col-sm-4" style="margin-top:15px;" >

				  <ol style="list-style-type:decimal;">

					<li  class="mapListNumber" style="list-style-type:none;" ng-repeat="sample in UserDashCtrl.service_quotes_table">

							<div class="row" style="margin:-27px 0 0 0;">

								<!-- <div class="col-md-7 col-sm-7 inline mapListCompany" style="padding-left:12%;" > -->
									<div class="col-md-7 col-sm-7 inline mapListCompany" style="padding-left:12%;" >
										{{sample.service_center.service_name}}
								</div>
								<!-- <div class="col-md-3 col-sm-3 mapListBidPrice">
									${{sample.quote_cost}}
								</div> -->
								<div class="col-md-3 col-sm-3 hidden-xs mapListBidPrice">
									${{sample.quote_cost}}
								</div>

						</div>
				<div class="row">

						<div class="col-md-6 col-xs-10 col-xs-offset-2 col-md-offset-2 form-group">

								 <select name="apptSelect" id="apptSelect" ng-model="UserDashCtrl.selectedTime" size="1" class="input-sm form-control">
									<option value="">Set Appointment</option>

									<option value="{{sample.available_date_1}}">{{sample.available_date_1}}</option>
									<option value="{{sample.available_date_2}}">{{sample.available_date_2}}</option>
									<option value="{{sample.available_date_3}}">{{sample.available_date_3}}</option>
								 </select>

					</div>
       <div class="row">

							<div class="visible-xs col-xs-3 col-xs-offset-3 mapListBidPrice">
								${{sample.quote_cost}}
							</div>
<!-- ng-disabled="UserDashCtrl.selectedTime " -->
							<button class="btn btn-default col-xs-offset-2" id="accept"  ng-click="UserDashCtrl.confirm(sample, UserDashCtrl.selectedTime)"><i class="fa fa-check-circle"></i> ACCEPT</button>

				</div>
						<div class="row">
									<div class="col-md-10 col-xs-10 col-xs-offset-2 col-md-offset-2 mapListAppt">
										<b>Comments:</b> {{sample.quote_text}}
								</div>

				     </div>
		       </li></ol>
				</div>
				</div>

				</uib-tab>

		    <!-- <uib-tab index="1" heading="Pending" ng-init="UserDashCtrl.getAppointments()"> -->

						    <uib-tab index="1" heading="Pending" >
        {{UserDashCtrl.pending_message}}
<!-- ng-init="UserDashCtrl.getAppointments()" -->
					<div class="row" ng-repeat="sample in UserDashCtrl.appointments_table">
					<div class="col-md-8 col-sm-8">
					<div class="row">
							<div  map-lazy-load="https://maps.googleapis.com/maps/api/js?key={{UserDashCtrl.key}}" id = "map_canvas">
								<ng-map  default-style="true" zoom="11" center="current-location">

								<marker position = "current-location" animation="Animation.BOUNCE"  centered="true"> </marker>
								<marker id='{{p.id}}' position="{{p.pos}}"
								 ng-repeat="p in UserDashCtrl.positions2"
								 on-click="UserDashCtrl.showDetail(p)"
								 icon="{{p.map_icon_pics}}"
								 title="pos: {{p.pos}}"
								 on-mouseover="UserDashCtrl.showDetail(p);"
								 on-mouseout="UserDashCtrl.hideDetail()">
								</marker>
								<info-window id="foo-iw">
								 <div ng-non-bindable="">
								 {{UserDashCtrl.shop.id}}<br/>
								 {{UserDashCtrl.shop.pos}}<br/>
								 <br/>
								 </div>
							 </info-window>
						 </ng-map>
					</div>

					</div>
					</div>

					<div class="col-md-4 col-sm-4" style="margin-top:15px;" >
					<div class="row">
						<div class="col-md-2 col-sm-2 inline">
							<span class="badge mapListNumber">1</span>
						</div>
						<div class="col-md-7 col-sm-7 inline mapListCompany">
							<!-- Dru's Auto -->
								{{sample.service_center.service_name}}
						</div>
						<div class="col-md-3 col-sm-3 mapListBidPrice">

							${{sample.quote_cost}}
						</div>

					</div>
					<div class="row">
						<div class="col-md-6 col-xs-6 col-xs-offset-2 col-md-offset-2 form-group">
							{{sample.accepted}}

						</div>

					</div>

					</div>
					</div>

</uib-tab>
		     <uib-tab index="2" heading="Your History">
					  		<div class="tab-content" style="border:solid 2px #ff6600;">
				   				<div class="row">
				   						<div class="col-md-12 col-sm-12">
				   						<b>7/15/16 - Tire Rotation</b><br>
				   						Service Notes: <i>"We can also look at wear and tear on your tires"</i>
				   						</div>
				   					</div>
				   					<div class="row">
				   						<div class="col-md-6 col-sm-12">
				   						Service Center: <b>Joe's Auto</b>
				   						</div>
				   						<div class="col-md-6 col-sm-12">
				   						Bid Amount: <b>$27.00</b>
				   						</div>
				   					</div>
				   					<div class="row">
				   						<div class="col-md-12 col-sm-12">
				   						<span style="color:#ff6600; font-weight:bold;">COMPLETE</span>
				   						</div>
				   					</div>
				   			</div>
      </uib-tab>



		  </uib-tabset>
    <ui-view></ui-view>
</div>
</main>


<!-- ////// -->
