
<section data-ng-controller="UserDashboardController as UserDashCtrl" ng-init="UserDashCtrl.getUserInfo()">
    <button class="btn btn-default"
            type="submit"
            ng-click="UserDashCtrl.getUserInfo();
               UserDashCtrl.logUser()">
            test get user
    </button>

    <div id="profile">

        <p>Your Profile</p>
        <br>
        <img id ="profilePicture">
        <br>
        <span> {{UserDashCtrl.userObject.userName}} </span>
        <br>
        <span class="title">Member Since: </span>
        <br>
        <span>{{UserDashCtrl.userObject.memberSince}}</span>
        <br>
{{UserDashCtrl.userObject.user_name}}

  <span>
    {{UserDashCtrl.service.serviceQuotes.quote_text}}
  </span>
  <br>
<span>{{UserDashCtrl.service.serviceQuotes.quote_cost}} </span>
<br>

<span>{{UserDashCtrl.service.serviceQuotes.service_request}}</span>


        <span class="title">Vehicles: </span>
        <br>
        <span data-ng-repeat="auto in UserDashCtrl.userObject.autos">

          <span> {{auto.make}} </span>
          <span> {{auto.model}} </span>
          <br>
          <span class="title"> Trim: </span>
          <span> {{auto.trim}} </span>
          <br>
          <span class="title">Engine: </span>
          <span> {{auto.engine}} </span>
          <br>
          <!-- <span>auto object: </span>
          <span> {{auto}}</span>
          <br> -->
        </span>


        <!-- <uib-accordion>
        <div uib-accordion-group class="panel" heading="{{sample.service_center_id}}, {{sample.quote_cost}}, {{sample.quote_text}}"  ng-repeat = "sample in UserDashCtrl.service_quotes">

  {{sample.quote_text}}
        </div> -->
<!-- <ol> -->
  <!-- <p ng-repeat="sample in UserDashCtrl.service_quotes" ng-repeat="sample in UserDashCtrl.service_quotes_table">{{sample.quote_text}} / {{sample.service_center.service_name}}
  </p> -->

  <p>Your work request:   {{UserDashCtrl.service_requestObj.work_request}}:</p>
<ol>
<li ng-repeat="sample in UserDashCtrl.service_quotes_table"> {{sample.service_center.service_name}}, Shop Quote: ${{sample.quote_cost}},
  <!-- Shop Notes: {{sample.quote_text}}, Available: 1.{{sample.option_1}} 2. {{sample.option_2}} 3. {{sample.option_3}} -->

  AD: {{sample.availible_dates}}

</li>
</ol>
        <div class="row text-center">
          <div class="modal-demo col-md-12 col-sm-12"
               ng-controller="AddVehicleButtonController as $ctrl"><br>
            <button ng-click= "$ctrl.open()"
                    ng-class="'btn btn-primary'">
                    Add a Vehicle
            </button>
          </div>
        </div>

    </div>
</section>
