

 <div class="container">
  <div class="row probBanner">
  <!-- Main page content -->
    <div class="col-md-12 col-sm-12">
      <div class="col-md-6 col-sm-12">
        <h1 class="light">Find a Mechanic.</h1>
        <span class="mobileHide">
        <h1 class="light">Book an Appointment.</h1>
        <h1 class="light">And Relax.</h1><br>
        <h3 class="light">It just takes a few easy steps to get you back on the road.</h3>
        <h3 class="light">Certified shops pass a rigorous inspection by our master mechanics for quality work and competitive pricing.</h3>
        <br><br></span>
      </div>

      <div class="col-md-6 col-sm-12"
           style="background:URL('../images/transparent.png');border:solid 1px black;height:auto;margin-top:25px;">
        <h3>What type of vehicle do you have?</h3>
        <div class="container" style="width:auto;height:auto;">

          <my-vehicle-select
data-button-text="Start"></my-vehicle-select>

        </div>
      </div>

    </div>
  </div>
 
</div>
