
<div class="probHeader"><h2 style="margin:0px">Dashboard Warning Lights</h2>
              <p>What they mean and how to fix them.</p></div>

<table class="table">


  <tbody>
    <tr ng-repeat="dashlights in describe.dashChild">


   <td><a ng-click ="describe.dashSelect(dashlights.name)" ng-model="a"><img src="{{dashlights.imageSrc}}" alt="" class="warning">
   </a></td>

   <td><a ng-click ="describe.dashSelect(dashlights.name2)" ng-model="a"><img src="{{dashlights.imageSrc2}}" alt="" class="warning">
   </a></td>
   <td><a ng-click ="describe.dashSelect(dashlights.name3)" ng-model="a"><img src="{{dashlights.imageSrc3}}" alt="" class="warning">
   </a></td>
   <td><a ng-click ="describe.dashSelect(dashlights.name4)" ng-model="a"><img src="{{dashlights.imageSrc4}}" alt="" class="warning">
   </a></td>
    </tr>
  </tbody>

</table>
