


<table class="table">
  <ng-transclude></ng-transclude>


  <tbody>
    <tr ng-repeat="dashlights in describe.dashChild">


   <td><a ng-click ="describe.dashSelect(dashlights.name)" ng-model="a"><img src="{{dashlights.imageSrc}}" alt="" class="btn btn-primary">
   </a></td>

   <td><a ng-click ="describe.dashSelect(dashlights.name2)" ng-model="a"><img src="{{dashlights.imageSrc2}}" alt="" class="btn btn-primary">
   </a></td>
   <td><a ng-click ="describe.dashSelect(dashlights.name3)" ng-model="a"><img src="{{dashlights.imageSrc3}}" alt="" class="btn btn-primary">
   </a></td>
   <td><a ng-click ="describe.dashSelect(dashlights.name4)" ng-model="a"><img src="{{dashlights.imageSrc4}}" alt="" class="btn btn-primary">
   </a></td>
    </tr>
  </tbody>

</table>
