<div id="getstarted">
          <div class="probHeader">

            <h2 style="margin:0px">Lets get started!</h2>
            <p>Choose a category to the left to choose your services.</p>
          </div>

          <div>


            <div class="row getStarted"><br>

                      <div class="col-md-4 col-sm-4 text-center">
                        <img src="../../images/common_icons/common_maintenance.png" alt = ""><br>
                        Choose from our extensive list of common vehicle service or maintenance.
                      </div>


                      <div class="col-md-4 col-sm-4 text-center">
                        <img src="../../images/common_icons/dash_lights.png"><br>
                        Just select the warning light that is displayed on your dashboard.
                      </div>
                      <div class="col-md-4 col-sm-4 text-center">
                        <img src="../../images/common_icons/describe_issue.png"><br>
                        Can't find what you need? Let us know what the problem is in your own words.
                      </div>
                    </div>
