<!-- <li data-ng-mouseover="count = 'xxxxxxxxx'"  data-ng-mouseleave = "count='x'" ng-init="count='x'">

<ng-transclude></ng-transclude>


<a ng-click ="describe.dashSelect(dashlights.name)" ng-model="a"><img src="{{dashlights.imageSrc}}" alt="" class="btn btn-primary">
</a>
</li>
 -->


<!-- ///// -->
<!-- <table class="table table-bordered">
  <ng-transclude></ng-transclude>
  <thead>
    <th>
      x
    </th>
    <th>y
    </th>
    <th>
      z
    </th>
  </thead>


  <tbody>
    <tr ng-repeat="dashlights in describe.dashChild">
   <td>{{dashlights.imageSrc}}</td>
    </tr>
  </tbody>

</table> -->
