<li class = "row" data-ng-mouseover="count = 'x'"  data-ng-mouseleave = "count='x'" ng-init="count='x'" id="secLevChildren"  class="subcategory">

<!-- the category headings in the orange bars -->
<span>{{secondchild.name}}</span>
<ul>
  <!-- <img src="http://www.free-icons-download.net/images/car-oil-icon-7557.png" alt="oil" style="background:white;" class="visible-sm col-sm-2 pull-left"> -->


<second-sibling data-secondsibling='secondsibling' ng-repeat="secondsibling in secondchild.children" >

</second-sibling>

</ul>

<ng-transclude></ng-transclude>
</li>
