
<form class = "form-horizontal" data-ng-submit = "save(mech)" >
<fieldset>
  <div class="form-group">

  <p ng-hide="submitted"><label for="user email" class="col-lg-2 control-label"> Email</label>
    <input type="text" placeholder = "Email" name = "userEmail"   data-ng-model="mech.user_email"></p>


    <p ng-hide="submitted"><label for="passwordx" class="col-lg-2 control-label"> Password</label>
      <input type="password" placeholder = "password" name = "Password"   data-ng-model="mech.password"></p>



     <button type = "submit" id = "newUser" ng-class="{'btn btn-primary': !hover, 'hidden': hover}"  ng-click="hover = !hover; submitted = !submitted"

     >{{buttonText}}</button>

<p ng-hide="!hover">Welcome back! Taking you to your portal now...</p>

</div>
</fieldset>


     <ng-transclude></ng-transclude>
   </form>


<ng-transclude></ng-transclude>
