
<form class = "form-horizontal" data-ng-submit = "save(mech)" >
<fieldset>
  <div class="form-group">

  <p ng-hide="submitted">

    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email" data-ng-model="mech.user_email">
      </div>
    </div></p>

    <!--  -->

<!-- <div> -->
    <p ng-hide="submitted"><div class="form-group">
          <div class="form-group">
  <label for="inputPassword" class="col-lg-2 control-label">Password</label>
  <div class="col-lg-10">
    <input type="password" class="form-control" id="inputPassword" placeholder="Password" data-ng-model="mech.password">
  </div>
</div></p>
<!--  -->
<div class="form-group">
  <div class="col-lg-10 col-lg-offset-2">
    <button type = "submit" id = "newUser" ng-class="{'btn btn-primary': !hover, 'hidden': hover}"  ng-click="hover = !hover; submitted = !submitted">{{buttonText}}</button>
  </div>

     <!-- <button type = "submit" id = "newUser" ng-class="{'btn btn-primary': !hover, 'hidden': hover}"  ng-click="hover = !hover; submitted = !submitted"

     >{{buttonText}}</button> -->

<p ng-hide="!hover">Welcome back! Taking you to your portal now...</p>

</div>
</fieldset>


     <ng-transclude></ng-transclude>
   </form>


<ng-transclude></ng-transclude>
