
<form class = "form-horizontal" data-ng-submit = "save(xuser)" >
<fieldset>
  <div class="form-group">
<p ng-hide="submitted"><label for="user name" class="col-lg-2 control-label"> name</label>

  <input type="text" placeholder = "Name" name = "user_name"
   data-ng-model="xuser.user_name">
</p>


  <p ng-hide="submitted"><label for="user email" class="col-lg-2 control-label"> Email</label>
    <input type="text" placeholder = "Email" name = "userEmail"   data-ng-model="xuser.user_email"></p>

    <p ng-hide="submitted"><label for="user phone" class="col-lg-2 control-label">Phone Number</label>
      <input type="text" placeholder = "phone number" name = "userPhone"   data-ng-model="xuser.user_phone"></p>

    <p ng-hide="submitted"><label for="password" class="col-lg-2 control-label"> Password</label>
      <input type="JSON" placeholder = "password" name = "Password"   data-ng-model="xuser.password"></p>



    <p ng-hide="submitted"><label for="user zip" class="col-lg-2 control-label"> Zip Code</label>
      <input type="text" placeholder = "Zip" name = "userZip" data-ng-model="xuser.user_zip"></p>



     <button type = "submit" id = "newUser" ng-class="{'btn btn-primary': !hover, 'hidden': hover}"  ng-click="hover = !hover; submitted = !submitted">{{buttonText}}</button>



<p ng-hide="!hover">Thank you!</p>


</div>
</fieldset>


     <ng-transclude></ng-transclude>
   </form>
