
<form class = "form-horizontal" data-ng-submit = "save(login)" >
<!-- <form class = "form-horizontal" data-ng-submit = "validate(login)" > -->

<fieldset>
  <div class="form-group">

  <p ng-hide="submitted"><label for="user email" class="col-lg-2 control-label"> Email</label>
    <input type="text" placeholder = "Email" name = "userEmail"   data-ng-model="login.user_email"></p>


    <p ng-hide="submitted"><label for="passwordx" class="col-lg-2 control-label"> Password</label>
      <input type="JSON" placeholder = "password" name = "Password"   data-ng-model="login.password"></p>



     <button type = "submit" id = "newUser" ng-class="{'btn btn-primary': !hover, 'hidden': hover}"  ng-click="hover = !hover; submitted = !submitted">{{buttonText}}</button>



<p ng-hide="!hover">Thank you!</p>


</div>
</fieldset>


     <ng-transclude></ng-transclude>
   </form>
