

    <!-- Page Content -->
    <div class="container">

        <div class="row">
        <!-- Signin content -->
			<div class="col-md-12 col-sm-12">
			  <form class="form-signin" name="signin" data-ng-submit = "save(login)">
				<h2 class="form-signin-heading">Sign In</h2>

				<label for="inputEmail" class="sr-only">Email Address</label>
				<input type="email" id="inputEmail" class="form-control formtop" placeholder="Email address" data-ng-model="login.user_email" required autofocus>

				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" id="inputPassword" class="form-control formbot" placeholder="Password" data-ng-model="login.password" required>


				<button id = "newUser" class="btn btn-lg btn-primary btn-block" type="submit">{{buttonText}}</button>

			  </form>
        <!-- button from modal -->
                <!-- <button ng-controller="signInController as $ctrl" class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Cancel</button> -->
                <!-- button from modal ends -->


			</div>
		</div>

    </div>
