


<div class="item signInForm">
	<h3 class="text-right"><i class="fa fa-lock iconpadLG"></i>Sign in</h3>
	<form class="form-horizontal" role="form" name="signin" data-ng-submit = "save(login)">
		<div class="form-group" style="height: 30px;">
			<div class="col-lg-10 col-md-10  col-xl-10 col-sm-10 col-xs-12" style="float: right;">
				<input class="input-sm form-control" name="email" id="inputEmail" placeholder="Email Address" data-ng-model="login.user_email"  required autofocus />
			</div>
		</div>

		<div class="form-group">
			<div class=" col-lg-10 col-xl-10 col-md-10 col-sm-10 col-xs-12" style="height: 30px; float:right;">

				<input class="input-sm form-control"   name="cpassword" type="password" id="inputPassword" placeholder="Password" data-ng-model="login.password"   autofocus required />
						<p class="text-primary" style="cursor: pointer;"><small><a>Forgot your password?</a></small></p>
			</div>
	  </div>

		<div class="form-group" style="height: 30px;">
			<div class="col-sm-offset-3 col-sm-9">

				<button class="btn btn-default pull-right" type="submit" style="display:inline;"><i class="fa fa-unlock-alt"></i> {{buttonText}}</button>

				<!-- <p class="text-primary" style="cursor: pointer;"><small><a>Forgot your password?</a></small></p> -->

			</div>
		</div>
	</form>
</div>
